<h1>商品一覧</h1>

<%= link_to "商品追加", new_admin_item_path %>
<!--＋ボタンに変更予定-->

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税込価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
     <%= @items.each do |item| %>
     <%# genre.genre_id.each do |genre| %>
     <tr>
       <td><%= item.id %></td>
       <td><%= link_to item.name, "/admin/items/#{item.id}" %></td>
       <td><%= item.price %></td>
       <td><%= item.genre_id %></td>
       <td><%= item.is_active %></td>
     </tr>
       <% end %>
       <%# end %>
  </tbody>
</table>