<h1>商品新規登録</h1>
<%= form_with model:@item, url:'/admin/items/new', local:true do |f| %>

<div class="field"></div>

<h4>商品画像</h4>
<%= f.attachment_field :image %>

<h4>商品名</h4>
<%= f.text_field :name %>
<%#= text_field_tag "name", "商品名" %>
<!--<input type="text" placeholder="商品名" ></input>-->
</div>

<h4>商品説明</h4>
<%= f.text_area :introduction %>
<!--<input type="text" placeholder="ここに説明文を記述します" ></input>-->

<h4>ジャンル</h4>
<%= f.text_field :genre_id %>
<%#= select :status,:name,Genre.statuses.keys.to_a %>

<h4>税込価格</h4>
<%= f.text_field :price %>円
<!--<input type="text" placeholder="1100" ></input>-->

<h4>販売ステータス</h4>
<%= f.text_field :is_active %></br>
<br>
<%= f.submit '新規登録' %>
<% end %>
